.checkoutproduct{
    display:flex;
    padding: 20px;
    background-color:white;
    margin-bottom: 2rem;
    max-height: 300px;
}
.checkoutproduct_image{
    padding: 20px;
    margin:20px;
}
.checkoutproduct_info{
    display:flex;
    flex-direction: column;
}
.checkoutproduct_rating{
    display:flex;
}
.checkoutproduct_price> strong{
    font-weight: 800;
    margin-left: 1rem;
}
.checkoutproduct_info>button{
    background-color: orange;
    color: #111;
    border: 1px solid;
    margin-top: 0.9rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}