.checkoutproduct{
    display:flex;
    padding: 20px;
    background-color:white;
    margin-bottom: 2rem;
    max-height: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
    /* align-items: center;
    width: fit-content; */
}
.checkoutproduct_image>img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.checkoutproduct_info{
    display:flex;
    flex-direction: column;
}
.checkoutproduct_rating{
    display:flex;
}
.checkoutproduct_price> strong{
    font-weight: 800;
    margin-left: 1rem;
}
.checkoutproduct_info>button{
    background-color: orange;
    color: #111;
    border: 1px solid;
    margin-top: 0.9rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutproduct:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px  rgb(215, 213, 224);
    transform: translate(-2px,-2px);
}

.checkoutproduct_info>button:hover{
    box-shadow: 0px 0px 5px 5px  rgb(112, 243, 130);
}