.order{
    padding: 20px;
    border: 10px solid lightgreen;
    margin: 0.5rem;
}
/* .order>p{
    font-weight: 800;
    margin-left: 1rem;
} */
.date{
    margin-left: 1rem;
    font-weight: 500;
    font-size:34px;
}
.order_id{
    font-weight: 800;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
}
.order_amount{
    text-align: center;
    font-weight: 400;
    font-size:2rem;
}